<form name="todoForm">
    <label for="todoName">Text</label>
    <input id="todoName" type="text" placeholder="Todo name" ng-model="$ctrl.task.name" value="$ctrl.task.name" name="todoName" control-name-length required />
    <span ng-show="todoForm.todoName.$dirty && todoForm.todoName.$invalid">
        Name should be more than 19 symbols
    </span>
    <input type="button" value="Save todo" ng-click="$ctrl.saveTask($ctrl.task)" ng-show="todoForm.todoName.$valid && $ctrl.editMode" />
    <input type="button" value="Add todo" ng-click="$ctrl.addTask()" ng-show="todoForm.todoName.$valid && !$ctrl.editMode" />
</form>