#content {
  max-width: 950px;
  margin: 0 auto;
  margin-top: 130px;
  position: relative;
}

.header {
  height: 90px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 6px 17px -5px rgba(145, 135, 145, 1);
  -moz-box-shadow: 0 6px 17px -5px rgba(145, 135, 145, 1);
  box-shadow: 0 6px 17px -5px rgba(145, 135, 145, 1);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;

  h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 110px;
    padding: 0 46px;
    font-size: 25px;
    text-transform: uppercase;
    color: #505555;

    &::before {
      content: '';
      display: block;
      width: 33px;
      height: 33px;
      position: absolute;
      left: 0;
      margin-top: 40px;
      margin-left: 5px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: 3px 0px;
      background-image: url(./images/andy.png);
    }
  }
}

#meow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: 1px solid gray;
  border-radius: 9px;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 50px;
  background: white;
  outline: none;

  &:hover {
    cursor: pointer;
    background: #efefef;
  }
}