#source-list {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  line-height: 110px;

  li {
    padding: 0 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.4px;

    &:hover, &.active {
      cursor: pointer;
      border-bottom: 2px solid #582ea8;
    }
  }
}

#main-section {
  margin: 50px;
  margin-top: 140px;
}

#feed {
  font-family: 'Hind', sans-serif;
  max-width: 950px;
  margin: 0 auto;

  li {
    font-size: 0;
    margin-bottom: 40px;
  }

  .title {
    line-height: 28px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #323135;
  }

  .image {
    display: inline-block;
    width: 60%;
    height: 300px;
    overflow: hidden;
    vertical-align: top;

    img {
      width: 100%;
    }
  }

  .author {
    line-height: 30px;
  }

  .publishedAt {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .url {
    line-height: 40px;

    a {
      text-decoration: none;
      color: #582ea8;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.3px;

      &:hover {
        color: #c793f2;
      }
    }
  }
}

.feed-info {
  display: inline-block;
  width: 40%;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  vertical-align: top;
}

@media only screen and (max-width: 850px) {
  header h1 {
    font-size: 19px;
  }

  #feed .image {
    width: 40%;
    height: 200px;
  }

  .feed-info {
    width: 60%;
  }

  #source-list li {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 675px) {
  header {
    display: block;
    height: 60px;

    h1 {
      width: 100%;
      border-bottom: 2px solid gray;
      line-height: 60px;

      &::before {
        margin-top: 15px;
      }
    }
  }

  #source-list {
    background: white;
    padding-bottom: 20px;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    line-height: 50px;
    justify-content: center;
  }

  #main-section {
    margin-top: 160px;
  }

  #feed .image {
    width: 100%;
    height: 200px;
  }

  .feed-info {
    width: 100%;
    margin-top: 15px;
    padding: 0;
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  header h1 {
    width: 100%;
  }

  #source-list {
    text-align: center;
    height: 60px;
    padding-bottom: 20px;
    padding-top: 10px;

    li {
      line-height: 25px;
    }
  }

  #main-section {
    margin: 15px;
    margin-top: 160px;
  }

  #feed li {
    margin-bottom: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid #2b2b2b;
    }
  }

  #feed .title {
    line-height: 19px;
    margin-bottom: 25px;
    font-size: 13px;
  }

  #feed .publishedAt {
    font-size: 14px;
    margin-bottom: 16px;
  }

  #feed .url a {
    font-size: 15px;
  }
}
