header {
    height: 90px;
    display: flex;
	display: -ms-flexbox;
    -ms-flex-direction: row;
	-ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 6px 17px -5px rgba(145,135,145,1);
    -moz-box-shadow: 0 6px 17px -5px rgba(145,135,145,1);
    box-shadow: 0 6px 17px -5px rgba(145,135,145,1);
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 110px;
    padding: 0 50px;
    font-size: 25px;
    text-transform: uppercase;
    color: #505555;
}

header h1 i {
    margin-right: 5px;
}

#source-list {
    display: flex;
	display: -ms-flexbox;
    -ms-flex-direction: row;
    line-height: 110px;
}

#source-list li {
    padding: 0 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}

#source-list li:hover, #source-list li.active {
    cursor: pointer;
    border-bottom: 2px solid #582ea8;
}

#main-section {
    margin: 50px;
    margin-top: 140px;
}

#feed {
    font-family: 'Hind', sans-serif;
    max-width: 950px;
    margin: 0 auto;
}

#feed li {
    font-size: 0;
    margin-bottom: 40px;
}

#feed .title {
    line-height: 28px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #32313bfa;
}

#feed .image {
    display: inline-block;
    width: 60%;
    height: 300px;
    overflow: hidden;
    vertical-align: top;
}

#feed .author {
    line-height: 30px;
}

#feed .publishedAt {
    font-size: 16px;
    margin-bottom: 30px;
}

#feed .url {
    line-height: 40px;
}

#feed .url a {
    text-decoration: none;
    color: #582ea8;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

#feed .url a:hover {
    color: #c793f2;
}

#feed .image img {
    width: 100%;
}

.feed-info {
    display: inline-block;
    width: 40%;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    vertical-align: top;
}

@media only screen and (max-width: 850px) {
    header h1 {
        font-size: 19px;
    }

    #feed .image {
        width: 40%;
        height: 200px;
    }

    .feed-info {
        width: 60%;
    }

    #source-list li {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 675px) {
    header {
        display: block;
        height: 60px;
    }

    header h1 {
        width: 100%;
        border-bottom: 2px solid gray;
        line-height: 60px;
    }

    #source-list {
        background: white;
        padding-bottom: 20px;
        display: flex;
		display: -ms-flexbox;
		-ms-flex-direction: row;
		-ms-flex-pack: center;
        line-height: 50px;
        justify-content: center;
    }

    #main-section {
        margin-top: 160px;
    }

    #feed .image {
        width: 100%;
        height: 200px;
    }

    .feed-info {
        width: 100%;
        margin-top: 15px;
        padding: 0;
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    header h1 {
        width: 100%;
    }

    #source-list {
        text-align: center;
        height: 60px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #source-list li {
        line-height: 25px;
    }

    #main-section {
        margin: 15px;
        margin-top: 160px;
    }

    #feed li {
        margin-bottom: 20px;
    }

    #feed li:not(:last-child) {
        border-bottom: 1px solid #2b2b2b;
    }

    #feed .title {
        line-height: 19px;
        margin-bottom: 25px;
        font-size: 13px;
    }

    #feed .publishedAt {
        font-size: 14px;
        margin-bottom: 16px;
    }

    #feed .url a {
        font-size: 15px;
    }
}