html
  head
    title News Portal
    link(href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet")

  body
    div(id='content') !{entry}
  script
    include ../build/final.bundle.js